<button type="button" class="backBtn" [routerLink]="['/establishments/', eId, '\professors']"> Retour à la
  liste des professeurs </button>

<div class="professorInfos">
  <h3>{{professor?.firstname}} {{professor?.lastname}}</h3>

  <ul>

    <li> Id: {{professor?.id}} </li>
    <li> Nom: {{professor?.firstname}}</li>
    <li> Prénom: {{professor?.lastname}}</li>
    <li> Date de naissance: {{professor?.dateOfBirth}}</li>
    <li> Classe principale: {{professor?.principalClass}}</li>
    <li> Etablissement: {{professor?.establishment}}</li>
    <li> Matière(s): {{professor?.subjects}}</li>
  </ul>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Voulez-vous vraiment supprimer ce professeur ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="removProduct()">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Non</button>

  </div>
</ng-template>
<button type="button" class=" btn btn-outline-dark deleteBtn" (click)="open(content)"> Supprimer le professeur </button>