nav {
    background-color: #d1d5db ;
    border-radius: 20px;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 20px;
        li {
            background-color: #4C5760 ;
            color: white;
            font-size: 1.1rem;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            &:hover {
                background-color: #797c81 ;
            }
        }
    }
}