

div {
    display: flex;
    flex-direction: column;
    ul {
        padding: 0;
        li {
            background-color: lightcoral;
            padding: 10px;
            border-radius: 10px;
            list-style-type: none;
            cursor: pointer;
        }
    }
}