<h1>Gestion scolaire</h1>
<button class="backBtn" routerLink="/"> Retour à la liste des établissements </button>
<h2> {{establishment?.type}} {{establishment?.name}} </h2>
<app-navbar></app-navbar>


<div class="establishmentInfos">
    <div class="establishmentInfos__professors">
        <p>Liste des professeurs de cet établissement :</p>
        <ul>
            <li *ngFor="let p of professors"> {{p?.firstname}} {{p?.lastname}} </li>
        </ul>
    </div>

    <div class="establishmentInfos__classrooms">
        <p>Liste des salles de classes de cet établissement :</p>
        <ul>
            <li *ngFor="let c of classrooms"> {{c?.name}} </li>
        </ul>
    </div>

    <div class="establishmentInfos__classgroups">
        <p>Liste des classes de cet établissement :</p>
        <ul>
            <li *ngFor="let cg of classgroups"> {{cg?.name}} </li>
        </ul>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                Voulez-vous vraiment supprimer l'établissement?
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="removeEstablishment()">Oui</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Non</button>

    </div>
</ng-template>
<button type="button" class="deleteBtn" (click)="open(content)"> Supprimer l'établissement </button>