<h1>Gestion scolaire</h1>
<button class="backBtn" routerLink="/"> Retour à la liste des établissements </button>
<h2> {{establishment?.type}} {{establishment?.name}} </h2>
<app-navbar></app-navbar>


<div class="establishmentInfos">
    <div class="establishmentInfos__professors">
        <p>Liste des professeurs de cet établissement :</p>
        <ul>
            <li *ngFor="let p of professors"> {{p?.firstname}} {{p?.lastname}} </li>
        </ul>
    </div>

    <div class="establishmentInfos__classrooms">
        <p>Liste des salles de classes de cet établissement :</p>
        <ul>
            <li *ngFor="let c of classrooms"> {{c?.name}} </li>
        </ul>
    </div>

    <div class="establishmentInfos__classgroups">
        <p>Liste des classes de cet établissement :</p>
        <ul>
            <li *ngFor="let cg of classgroups"> {{cg?.name}} </li>
        </ul>
    </div>
</div>



<div class="btnBox">
    <button> Modifier l'établissement </button>
    <button class="deleteBtn"> Supprimer l'établissement </button>
</div>