<h1>Gestion scolaire</h1>
<button class="backBtn" routerLink="/"> Retour à la liste des établissements </button>
<h2> {{establishment?.type}} {{establishment?.name}} </h2>
<app-navbar></app-navbar>


<div class="establishmentInfos">
    <p>Professeurs de l'établissement ICI</p>
    <p>Matières de l'établissement ICI</p>
    <p>Classes de l'établissement ICI</p>
    <p>Salles de classe de l'établissement ICI</p>
</div>

<div class="btnBox">
    <button> Modifier l'établissement </button>
    <button class="deleteBtn"> Supprimer l'établissement </button>
</div>