<button type="button" class="backBtn" [routerLink]="['/establishments/', eId, '\subjects']"> Retour de la
  liste des matiéres </button>
<div class="subjectInfos">
  <h3>{{subject?.name}} </h3>
  <ul>

    <li> Id : {{subject?.id}} </li>
    <li> Nom de la matière: {{subject?.name}}</li>
    <li> Couleur de la matière : {{subject?.color}}</li>

  </ul>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Supression d'une matière </h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Vouslez-vous vraiment supprimer la matière ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="removProduct()">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Non</button>

  </div>
</ng-template>
<button type="button" class="btn btn-outline-dark deleteBtn" (click)="open(content)"> Supprimer </button>
<h3> Attention, il est impossible de supprimer une matière qui est attribué à un professeur</h3>