<button type="button" class="backBtn" [routerLink]="['/establishments/', eId, '\classrooms']"> Retour de la liste des
  classes </button>

<div class="classroomInfos">
  <h3>La classe: {{classroom?.name}}</h3>
  <ul>

    <li> <b> Id: </b> {{classroom?.id}} </li>
    <li> <b> Capacité: </b> {{classroom?.capacity}}</li>
    <li> <b> Etablissemnt: </b> {{classroom?.establishment?.name}}</li>

  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Supression de classe</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Voulez-vous vraiment supprimer cette classe ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="removProduct()">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Non</button>

  </div>
</ng-template>
<button type="button" class="btn btn-outline-dark deleteBtn" (click)="open(content)"> Supprimer </button>